<style type="text/css">

    @import url(https://fonts.googleapis.com/css?family=Lato);

    *, *:before, *:after{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: 'Lato', sans-serif;
    }
    body {
        margin-top: 90px;
        margin-left: 10px;
        font-size: 90%;
    }
    table {
        border-spacing: 0px;
        /*width: 100%;*/
        margin-bottom: 20px;
        border: 1px solid #999999;
        border-collapse: collapse;

    }

    .table th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #999999;
    }

    .table td {
        border: 1px solid #999999;
        padding: 5px;
    }

    fieldset {
        width: 330px;
        margin-top: 20px;
        border: 1px solid #d6d6d6;
        background-color: #ffffff;
        line-height: 1.6em;

    }

    legend {
        font-style: italic;
        color: #666666;
    }

    input[type="text"] {
        width: 160px;
        border: 1px solid #d6d6d6;
        padding: 2px;
        outline: none;
    }

    input[type="text"]:focus,
    input[type="text"]:hover {
        background-color: #d0e2f0;
        border: 1px solid #999999;
    }

    input[type="submit"] {
        border: 1px solid #006633;
        background-color: #009966;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px;
        margin-top: 10px;
    }

    input[type="submit"]:hover {
        border: 1px solid #006633;
        background-color: #00CC33;
        color: #ffffff;
        cursor: pointer;
    }

    input[type="submit"]:active {
        border: 1px solid #006466;
        background-color: #79c9ff;
        color: #006633;
        cursor: pointer;
    }

    .title {
        float: left;
        width: 160px;
        clear: left;
    }

    .submit {
        width: 310px;
        text-align: right;
    }



/*| Navigation |*/

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .1);
        border: 1px solid rgba(0, 0, 0, .1);
    }

    nav ul {
        list-style: none;
        position: relative;
        float: right;
        margin-right: 100px;
        display: inline-table;
    }

    nav ul li {
        float: left;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    nav ul li:hover {
        background: rgba(0, 0, 0, .15);
    }

    nav ul li:hover > ul {
        display: block;
    }

    nav ul li {
        float: left;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    nav ul li a {
        display: block;
        padding: 30px 20px;
        color: #222;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
    }

    select {
        width: 300px;
        height: 30px;
    }
</style>