{%extends 'base.html'%}
<html lang="ru">
{%block title%}Контакты{%endblock%}
{% block body %}
<div>
    <h2>Это страница контактов</h2>
    <p>На этой странице расположены все способы связи с компанией.</p>
    <form action="" method="post">
        <fieldset>
            <legend>Форма регистрации</legend>
            <p><label class="title" for="name">Ваше имя:</label>
                <input type="text" name="name" id="name"><br/>
                <label class="title" for="email">Ваш email:</label>
                <input type="text" name="email" id="email"></p>
            <p><label for="location" class="title">Ближайший центр:</label>
                <select name="location" id="location">
                    <option value="mos">Москва</option>
                    <option value="spb">Санкт-Петербург</option>
                    <option value="ecb">Екатеринбург</option>
                </select></p>
            <span class="title">Являетесь участником?</span>
            <label><input type="radio" name="member" value="yes"/> Да</label>
            <label><input type="radio" name="member" value="no" checked/> Нет</label></p>
        </fieldset>
        <div class="submit"><input type="submit" value="Регистрация"/></div>
    </form>
</div>
{%endblock%}